{% extends '@EasyAdmin/crud/detail.html.twig' %}
{% block page_title %}{{ entity.instance.name|trans }}{% endblock %}
{% block main %}
    <div class="row">
        {% for member in entity.instance.members %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">{{ member.fullName }}</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-4">{{ 'Full Name'|trans }}</dt>
                                    <dd class="col-sm-8">{{ member.fullName }}</dd>
                                    <dt class="col-sm-4">{{ 'Email'|trans }}</dt>
                                    <dd class="col-sm-8">{{ member.email }}</dd>
                                    <dt class="col-sm-4">{{ 'Phone'|trans }}</dt>
                                    <dd class="col-sm-8">{{ member.phone }}</dd>
                                    <dt class="col-sm-4">Status</dt>
                                    <dd class="col-sm-8">{{ member.status }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
